*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li{
    list-style: none;
  }
  body{
    min-width: 1100px;
  }
  .box{
    position: relative;
    width: 1100px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    }
  /* Header */
  header{
    height: 166px;
  }
  #logo{
    float: left;
    margin: 80px 0 0 60px;
  }
  #menu{
    float: right;
    text-align: right;
    margin-right: 20px;
  }
  #menu li{
    display: inline-block;
  }
  #top_menu li{
    margin: 30px 0 0 10px;
  }
  #main_menu li{
    margin: 50px 0 0 80px;
    font-weight: bold;
    font-size: 20px;
  }
  /* Main Image */
  #main_image{
    height: 312px;
    background: url(/09_img/main_bg.png) no-repeat center;
    text-align: center;
  }
  #main_image a{
    position: absolute;
    right: 100px;
    top: 220px;
  }

  /* Aside */
  aside{
    float: left;
    width: 220px;
    margin: 70px 0;
  }
  aside .title1{
    padding: 12px;
    background-color: #0ca9a3;
    color: white;
    font-size: 18px;
  }
  aside .comment{
    padding: 20px 10px;
    line-height: 1.5;
  }
  aside .search input{
    width: 160px;
    height: 32px;
    border: 1px solid black;
    vertical-align: top;
  }
  aside .search button{
    margin-left: 5px;
    padding: 6px 10px;
    border: 1px solid black;
  }
  aside .title2{
    margin-top: 20px;
    padding: 12px;
    border-top: 2px solid black;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
  }
  aside .list{
    margin: 20px 0;
  }
  aside .list li{
    margin: 10px 12px;
  }
  aside .reply{
    border: 1px solid #0ca9a3;
    padding: 12px;
  }
  aside .reply h2{
    font-size: 18px;
    margin: 10px 0 15px;
  }
  aside .reply li{
    margin-top: 6px;
  }

  /* Main */
  #main{
    float: right;
    width: 840px;
    margin: 70px 0;
  }
  #main1{
    float: left;
    width: 405px;
  }
  #main1 .title1{
    padding-bottom: 8px;
    border-bottom: 1px solid black;
  }
  #main1 .latest{
    margin-top: 30px;
  }
  #main1 .items{
    position: relative;
    height: 34px;
  }
  #main1 .items .subject{ 
    position: absolute;
    left: 0;
    top: 0;
  }
  #main .items .date{
    position: absolute;
    right: 0;
    top: 0;
  }
  #main .title2{
    margin-top: 30px;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
  }
  #main2{
    float: right;
    width: 400px;
  }
  #main2 .title1{
    padding-bottom: 8px;
    border-bottom: 1px solid black;
  }
  #main2 .item1{
    float: left;
    width: 189px;
    margin-top: 30px;
  }
  #main2 .item2{
    float: right;
    width: 189px;
    margin-top: 30px;
  }
  #main2 .subject{
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  #main .date{
    margin-top: 5px;
  }

  /* Footer */
  footer {
      clear: both;
      height: 260px;
      background-color: #05354e;
      color: white;
    }
  #bottom_menu ul {
      padding: 20px 0 0 100px;
      font-weight: bold;
    }
  #bottom_menu li {
      display: inline;
      margin-right: 30px;
    }
  footer .items {
      float: left;
      margin: 40px 0 0 100px;
    }
  footer h3 {
    color:#0ca9a3;  
  }
  footer .items ul {  
    margin-top: 15px;  
  }
  footer .items li {	
    margin-top: 5px; 
  }
  footer .phone {
      font-size: 25px;
      font-weight: bold;
    }