* {  
    margin: 0;  
     padding: 0;
     text-align: center;
}
header {  
    height: 130px;  
    border: solid 1px red;  
}
.box {  
    width: 1100px;  
    margin: 0 auto;  
    border: solid 1px blue;  
}
#main_image {
    height: 200px;
    border: solid 1px red;  
}
aside {
    width: 220px;
    height: 300px;
    float: left;
    border: solid 1px green;  
}
#main {
    width: 840px;
    height: 300px;	
    float: right;
    border: solid 1px green;  
}
footer {
    clear: both;
    height: 120px;
    border: solid 1px red;  
}